@font-face {
    font-family: 'Compagnon';
    font-display: swap;
    src: url('../fonts/Compagnon-Medium.woff2') format('woff2'),
        url('../fonts/Compagnon-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Compagnon';
    font-display: swap;
    src: url('../fonts/Compagnon-Italic.woff2') format('woff2'),
        url('../fonts/Compagnon-Italic.woff') format('woff');
    font-weight: italic;
    font-style: italic;
}
